name: Test WireGuard Tunnel

on:
  workflow_dispatch:   # manually trigger from GitHub UI

jobs:
  test-wireguard:
    runs-on: ubuntu-latest

    steps:
      - run: sudo apt install wireguard

      - run: echo "${{ secrets.WIREGUARD_PRIVATE_KEY }}" > privatekey

      - run: sudo ip link add dev wg0 type wireguard

      - run: sudo ip address add dev wg0 192.168.98.4/32
      
      - run: sudo wg set wg0 private-key privatekey peer 3BrtD/9daCK8q1PGgs/NoDzsiHuFNQlmkHOulCHOMWs= allowed-ips 192.168.98.0/24,192.168.5.0/24 endpoint vpn.parisi.cloud:13231

      - run: sudo ip link set up dev wg0

      - run: sudo ip route add 192.168.5.0/24 dev wg0

      # Test the connection
      - name: Ping Proxmox
        run: |
          echo "Pinging Proxmox..."
          ping -c 4 192.168.5.3   # <-- CHANGE TO YOUR PROXMOX IP

      # Bring down the tunnel
      - name: Bring down WireGuard
        if: always()
        run: sudo ip link set down dev wg0
